set nocompatible
filetype off

set viminfo='20,<100000,s1000000
call plug#begin('~/.vim/plugged')

Plug 'VundleVim/Vundle.vim'
Plug 'tpope/vim-fugitive'
Plug 'Yggdroot/indentLine'
Plug 'morhetz/gruvbox'
Plug 'davidhalter/jedi-vim'
Plug 'nvie/vim-flake8'
Plug 'pearofducks/ansible-vim'
Plug 'martinda/Jenkinsfile-vim-syntax'
Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'
Plug 'chrisbra/csv.vim'
Plug 'fgsch/vim-varnish'
Plug 'hashivim/vim-terraform'
Plug 'rust-lang/rust.vim'
Plug 'neoclide/coc.nvim', {'branch': 'release'}

call plug#end()

let python_highlight_all = 1
let g:vim_json_conceal=0
let g:rustfmt_autosave = 1
let g:rustfmt_emit_files = 1
let g:rustfmt_fail_silently = 0
let g:gruvbox_italic=1
let g:gruvbox_contrast_dark="hard"
let g:gruvbox_invert_tabline = 1
let g:airline_powerline_fonts = 1

syntax enable

colorscheme gruvbox

set background=dark
set number
set autoindent
set tabstop=4
set expandtab
set shiftwidth=4
set softtabstop=4
set cursorline
set showmatch
set completeopt=menu,menuone,preview,noselect,noinsert
set splitright

map <ESC>1 1gt
map <ESC>2 2gt
map <ESC>3 3gt
map <ESC>4 4gt
map <ESC>5 5gt
map <ESC>6 7gt
map <ESC>, :tabprevious<CR>
map <ESC>. :tabnext<CR>
map <ESC>t :tabnew<CR>
map <ESC>w :tabclose<CR>

autocmd vimenter * ++nested colorscheme gruvbox
autocmd BufWritePost *.py call Flake8()
autocmd FileType py setlocal shiftwidth=4 tabstop=4 expandtab softtabstop=4
autocmd FileType cfg setlocal shiftwidth=4 tabstop=4 expandtab softtabstop=4
autocmd FileType tf setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType vcl setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType pp setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType javascript setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType js setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType toml setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType json
    \ setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2 |
    \ let g:indentLine_setConceal = 0 |
    \ let g:vim_json_syntax_conceal = 0
autocmd FileType xml setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType yaml setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
autocmd FileType yml setlocal shiftwidth=2 tabstop=2 expandtab softtabstop=2
